# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.tipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# OS
.DS_Store
*.swp
*~
Thumbs.db

# IDE
.idea/
*.sublime-workspace
.vscode/

# Payload (build artifacts)
Payload/

# Secrets
*.p12
*.mobileprovision
*.cer
